



<div class="container">
  <div class="row">
    <section id="main">
      <img src="http://data.whicdn.com/images/177237791/original.png" alt="" class="background-img" />
        <div class="container">
          <div class="row">
            <div class="col-sm-6 landing-main-text">
              <h1>Welcome</h1>
              <p>
                Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur.
              </p>
              <p>
                Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur.
                Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur.
              </p>
              <p>
                Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur.
              </p>
            </div>
            <div id="registration" class="offset-sm-1 col-sm-5 landing-main-text">
              <h1>Registration</h1>
              <form>
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="email" name="name" value="" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" name="name" value="" class="form-control">
                </div>
                <div class="form-group">
                  <button type="button" name="button" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>

    </section>
    <section id="cover-image-indent">
    </section>

    <section id="how_we_can_help">

    </section>

    <section id="testimonials">

    </section>
  </div>
</div>
