



<div class="container">
  <div class="row">
    <section id="main">
      <img src="http://data.whicdn.com/images/177237791/original.png" alt="" class="background-img" />
        <div class="container">
          <div class="row">
            <div class="col-sm-6 landing-main-text">
              <h1>Welcome</h1>
              <p>
                Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur.
              </p>
              <p>
                Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur.
                Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur.
              </p>
              <p>
                Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Aenean lacinia bibendum nulla sed consectetur.
              </p>
            </div>
            <div id="registration" class="offset-sm-1 col-sm-5 landing-main-text">
              <h1>Registration</h1>
              <form>
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="email" name="name" value="" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">Password</label>
                  <input type="password" name="name" value="" class="form-control">
                </div>
                <div class="form-group">
                  <button type="button" name="button" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </section>
    <section id="cover-image-indent">
    </section>

    <section id="how_we_can_help">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <h1 class="">How we can help you</h1>
            <hr>
            <div class="col-sm-4">
              <i class="fa fa-edit"></i>
              <h5>Curabitur blandit tempus porttitor.</h5>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-envelope-o"></i>
              <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
            </div>
            <div class="col-sm-4">
              <i class="fa fa-send"></i>
              <h5>Aenean lacinia bibendum nulla sed consectetur.</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <h1>What our clients say</h1>
            <br>
            <div class="col-sm-6">
              <h3>Donec id elit non mi porta gravida at eget metus.</h3>
              <hr>
              <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor.
              </p>
            </div>
            <div class="col-sm-6">
              <h3>Maecenas faucibus mollis interdum.</h3>
              <hr>
              <p>
                Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
