<div id="add-question-form">
  <%= form_for [@survey, @question], :remote => true do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autocomplete: 'off', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit %>
    </div>
  <% end %>
</div>
