<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5>ABOUT</h5>
        <p>
          We’ve been working on Go Analytics for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at themes@getbootstrap.com.
        </p>
      </div>
      <div class="col-sm-3">
        <h5>PRODUCT</h5>
        <ul>
          <li>Features</li>
          <li>Examples</li>
          <li>Tour</li>
          <li>Gallery</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>LEGAL</h5>
        <ul>
          <li>Terms</li>
          <li>Legal</li>
          <li>Privacy</li>
          <li>License</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
