<%= link_to app_edit_survey_header_path(survey), remote: true do %>
  <i class="fa fa-pencil question-form-delete"></i>
<% end %>

<h3><%= survey.title %></h3>

<p>
  <%= survey.description.html_safe %>
</p>
