<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        <%= @survey.title %>
      </h1>
      <hr>
      <%= @survey.description %>
      <hr>
      <% @survey.questions.each do |question| %>
        <div class="form-group">
          <h3>
            <%= question.title %>
          </h3>
        </div>
        <fieldset class="form-group">
          <% question.answer_variant.each do |answer_variant| %>
            <%= render partial: 'app/answer_variants/answer_variant', locals: { answer_variant: answer_variant } %>
          <% end %>
        </fieldset>
      <% end %>
      <button type="button" name="button" class="btn btn-primary">Done!</button>
    </div>
  </div>
</div>
