<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      Share using this link:
      
      <%= link_to survey_path(@survey.encrypted_link), target: "_blank" do %>
        <i class="fa fa-share-square-o" title="Share survey with people"></i>
      <% end %>
    </div>
    <div class="col-md-4 col-lg-3">
      <%= render partial: 'shared/survey_right_menu' %>
    </div>
  </div>
</div>
