<div class="user-survey">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="jumbotron">
        <h1 class="display-3"><%= t('survey.reply.thank_you') %></h1>
        <p class="lead"><%= t('survey.reply.your_answers_will_help_us') %></p>
      </div>
    </div>
  </div>
</div>
