<div class="user-survey">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="jumbotron">
        <h1 class="display-3">Thank you!</h1>
        <p class="lead">Your answers will help us a lot!</p>
      </div>
    </div>
  </div>
</div>
