<div id="page_error">
    <div class="error_message text-xs-center">
        <div class="four-oh-four"><h1>Error 500</h1></div>
        <div class="warning">
            <h2>Internal server error :(</h2>
            <%= link_to "Go to the home page", root_path, class: 'btn btn-outline-primary' %>
        </div>
    </div>
</div>
