// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark: #1D2328;
$medium: #F05024;
$lightGray: #EBEFF3;
$light: #FFFFFF;

nav.navbar {
  z-index: 100;
}

section#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  height: 100vh;
  color: $lightGray;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
  }
  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%; // Should be the same height as parent
    object-fit: cover;
  }
  .landing-main-text {
    margin-top: 160px;
    z-index: 100;
  }
}
section#cover-image-indent {
  margin-top: calc(100vh - 55px);
}

section#how_we_can_help {
  padding-top: 50px;
  padding-bottom: 50px;
  i {
    font-size: 4em;
  }
}

footer {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: $dark;
  color: $lightGray;
}
